@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&family=Outfit:wght@300&display=swap');


body {
    color: white;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
    /* background-color: black; */
}

header {
    /* color: black; */
    background-image: url(assets/imgBackGroundHeader.jpg);
    background-size: cover;
    overflow: hidden;
    height: calc(100vh - 100px);
    height: 800px;
}

header nav {
    display: flex;
    justify-content: space-between;
    margin: 0 50px;
}

header nav p {
    font-weight: bold;
}

header nav ul {
    display: flex;
}

header nav ul li {
    list-style: none;
    margin: 0 15px;
}

.headerContent {
    text-align: center;
    margin: 180px auto;
    max-width: 400px;
    /* color: black; */
}


.hello {
    font-weight: bold;
}

div ul {
    display: flex;
    list-style: none;
    padding: 0;
    justify-content: center;
}

div ul li {
    margin-right: 10px;
}

div ul li, #linkedin_icon {
    width: 20px;
}

/* div ul li, #facebook_icon {
    width: 20px;
} */

div ul li, #github_icon {
    width: 20px;
}

div ul li, #instagram_icon {
    width: 20px;
}




section {
    background-color:white;
    text-align: center;
    color: black;
    height: 560px;
}

section .container {
    width: 100%;
    margin: auto;
    display: inline-block;
    text-align: center;
}

section img {
    width: 300px;
    padding: 80px 0;
    /* position: relative; */
    
}

section h3 {
    margin: 0;
    font-weight: bold;
    font-size: 24px;
}

section p {
    margin-top: 0;
}

.description {
    text-align: justify;
    display: inline-block;
    margin-top: 100px;
    position: absolute;
    word-wrap: break-word;
    max-width: 355px;
}

section #js {
    background-color: black;
    border-radius: 3px;
    color: white;
    width: 350px;
    padding-left: 5px;
}

section #html {
    background-color: black;
    border-radius: 3px;
    color: white;
    width: 300px;
    padding-left: 5px;
}

section #css {
    background-color: black;
    border-radius: 3px;
    color: white;
    width: 250px;
    padding-left: 5px;
    margin-bottom: 40px;
}

section a{
    background-color: black;
    padding: 8px 5px;
    border-radius: 3px;
    text-decoration: none;
    color: white;
}




footer {
    background-color: #8C8C8C;
    height: 600px;
    
}

footer h4 {
    text-align: center;
    font-size: 24px;
    padding: 60px 0px;
    color: #000000;
    font-weight: bold;
    margin: 0;
}

footer h5 {
    margin-top: 5px;
}
div.cards {
    /* height: 300px;
    width: 260px; */
    display: flex;
    justify-content: space-around;
    padding:0 150px;
}

footer img {
    width: 35px;

}

div.card-landingPage {
    color: #000000;
    background-color: white;
    max-width: 200px;
    height: 150px;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    border-radius: 5px;
}
div.card-creativeDesign {
    color: #000000;
    background-color: white;
    max-width: 200px;
    height: 150px;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    border-radius: 5px;
}
div.card-fullyResponsive {
    color: #000000;
    background-color: white;
    max-width: 200px;
    height: 150px;
    padding: 20px;
    text-align: center;
    word-wrap: break-word;
    border-radius: 5px;
}

























/* footer nav ul {
    text-align: center;
    
}

footer nav ul li {
    display: inline-block;
    background-color: green;
    padding: 50px;
    width: 200px;
    max-height: 50px;
}






 */
